<div class="container">
  <app-form (searchProf)="search($event)"></app-form>
<div class="row">
  <div class="col-sm-6">
    <div *ngIf="profile" class="prof">
      <div class="card" style="width: 18rem;">
        <img src="{{profile.avatar_url}}" class="rounded-circle" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{profile.login}}</h5>
          <p class="card-text">{{profile.bio}}</p>
        </div>
      </div>
      <div class="view">
        <p> <a href="{{profile.html_url}}" class="btn btn-success">view profile on github</a></p>
      </div>
      <div class="follows">
        <p class="lower"><span>Followers:</span>{{profile.followers}} </p>
        <p> <span>Following:</span>{{profile.following}}</p>
      </div>
      <div class="repos">
        <p><span> Repositories:</span>{{profile.public_repos}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div *ngFor="let rep of repo" class="card">
      <div class="card-body">
        <h5 class="card-title"><span>{{rep.name}}</span>
               </h5>
        <p class="card-text">{{rep.description}}</p>
        <span>{{rep.language}}</span><br>
        <a href="{{rep.html_url}}" class="btn btn-primary">View git repo</a>
      </div>
    </div>
  </div>
</div>
</div> 


<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container container-fluid">

  <footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright. By:Ruth
    <a class="text-white" href="https://mdbootstrap.com/"></a>
  </div>
  <!-- Copyright -->
</footer>
  
</div>

 
